article, #activity-form {
  display: flex;
  flex-direction: row;
}

.activity-input, .activity-output {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-wrapper {
  position: relative; /* För att hantera absolut positionering för barn */
  display: inline-block; /* Håller knappar och meddelande i samma kontext */
}

button.disabled-button:hover + .hover-message {
  display: block; /* Visa meddelandet vid hover på disabled-knappen */
}

.hover-message {
  display: none; /* Dölj meddelandet som standard */
  color: red;
  font-size: 0.9rem;
  position: absolute; /* Placera det absolut relativt till .button-wrapper */
  top: 100%; /* Placera det precis under knappen */
  /* left: -450px;  */
  margin-top: 154px; /* Litet avstånd mellan knapp och meddelande */
  white-space: nowrap; /* Förhindra radbrytning för långt meddelande */
}

.error-message {
  color: red;
  font-size: 0.9rem;
  position: absolute; 
  left: 400px;
  margin-top: 4px; 
  white-space: nowrap;
}
