article, #activity-form {
  display: flex;
  flex-direction: row;
}

.activity-input, .activity-output {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-wrapper {
  position: relative; /* För att hantera absolut positionering för barn */
  display: inline-block; /* Håller knappar och meddelande i samma kontext */
  width: fit-content;
}

button.disabled-button:hover + .hover-message {
  display: block; /* Visa meddelandet vid hover på disabled-knappen */
}

.hover-message {
  display: none; /* Dölj meddelandet som standard */
  color: red;
  font-size: 0.9rem;
  position: absolute;
  top: 155%;
  left: -411px;
  margin-top: 4px;
  white-space: nowrap;/
}

.error-message {
  color: red;
  font-size: 0.9rem;
  position: absolute; 
  left: 400px;
  margin-top: 4px; 
  white-space: nowrap;
}
